<template>

  <div class="prueba" id="music-events-list">

    <section v-for='event in resultMusicEvents.resultsPage.results.event' class="hero is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{ event.displayName }}
          </h1>
          <h2 class="subtitle">
            {{ event.type }}
          </h2>
        </div>
      </div>
    </section>

  </div>

</template>

<script>
  import axios from 'axios'

  export default {
    name: 'CoCityMusicEventsList',
    props: {
      idCity: {
        type: Number
      }
    },
    data () {
      return {
        resultMusicEvents: {}
      }
    },
    components: {
    },
    mounted () {
      this.getCityMusicEventsList()
    },
    methods: {
      getCityMusicEventsList () {
        return axios({
          method: 'GET',
          url: `${process.env.API_MUSIC_EVENTS}${this.idCity}/calendar.json`,
          params: {
            apikey: `${process.env.API_KEY_MUSIC}`,
            min_date: `2019-06-19`,
            max_date: `2019-06-19`
          }
        })
          .then(response => response.data)
          .then(result => {
            this.resultMusicEvents = result
          })
      }
    }
  }
</script>

<style scoped>

</style>
