<template>
  <div id="city">

    <div class="dropdown" :class="{'is-active': isActive}">
      <div class="dropdown-trigger" @click='isActive = !isActive'>
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
          <span>Seleccionar una ciudad</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu-america" role="menu">
        <div class="dropdown-content">
          <a v-for='city in cities' class="dropdown-item">
            <router-link v-bind:to="{ name: 'city', params: { city: city.nombre } }">
              {{ city.nombre }}
            </router-link>
          </a>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  import CoSubMenu from '@/components/CoSubMenu'

  export default {
    name: 'CoCities',
    props: {
      cities: {
        type: Array,
        required: true
      }
    },
    data () {
      return {
        citiesReturn: [],
        isActive: false
      }
    },
    component: {
      CoSubMenu
    },
    methods: {
      hide () {
        if (this.isActive) {
          this.isActive = false
        }
      }
    }
  }
</script>

<style>
</style>
