<template>
  <div id="music-events">

    <co-city-music-events-list v-bind:idCity="resultPageMusic.resultsPage.results.location[0].metroArea.id"/>

  </div>

</template>

<script>
  import axios from 'axios'
  import CoCityMusicEventsList from '@/components/CoCityMusicEventsList'

  export default {
    name: 'CoCityMusicEvents',
    props: {
      city: {
        type: String
      },
      idCity: {
        type: Number
      }
    },
    data () {
      return {
        resultPageMusic: {}
      }
    },
    components: {
      CoCityMusicEventsList
    },
    mounted () {
      this.getCityMusicList()
    },
    methods: {
      getCityMusicList () {
        return axios({
          method: 'GET',
          url: `${process.env.API_MUSIC}`,
          params: {
            query: `${this.city}`,
            apikey: `${process.env.API_KEY_MUSIC}`
          }
        })
          .then(response => response.data)
          .then(result => {
            this.resultPageMusic = result
          })
      }
    }
  }
</script>

<style scoped>

</style>
