<template>

  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-primary">
            <p class="title">{{ city }}</p>
            <p class="subtitle">Ciudad</p>
          </article>
          <article class="tile is-child notification is-warning">
            <p class="title">Wind</p>
            <p class="subtitle">{{ weather.wind.speed }} km/h</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-info">
            <p class="title">Weather</p>
            <p class="subtitle">{{ weather.weather[0].description }}</p>
            <figure class="image is-4by3">
              <img v-bind:src="`http://openweathermap.org/img/w/${weather.weather[0].icon}.png`">
            </figure>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-danger">
          <p class="title">Humidity</p>
          <p class="subtitle">{{ weather.main.humidity }}</p>
          <div class="content">
            <!-- Content -->
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification">
        <div class="content">
          <p class="title">Weather Forecast</p>
          <!--          <p class="subtitle">{{ weather.main.humidity }}</p>-->
          <div class="content">
            <article class="tile is-child notification is-success">
              <p class="title">Forecast Time</p>
              <p class="subtitle">{{ forecast.list[0].dt_txt }}</p>
            </article>
          </div>
          <div class="content">
            <article class="tile is-child notification is-success">
<!--              <p class="title">Wind</p>-->
              <figure class="image is-4by3">
                <img v-bind:src="`http://openweathermap.org/img/w/${weather.weather[0].icon}.png`">
              </figure>
            </article>
          </div>
          <div class="content">
            <article class="tile is-child notification is-success">
              <p class="title">Description</p>
              <p class="subtitle">{{ forecast.list[0].weather[0].description }}</p>
            </article>
          </div>
        </div>
      </article>
    </div>
  </div>

</template>

<script>
  import axios from 'axios'

  export default {
    name: 'CoCityWeather',
    props: {
      city: {
        type: String
      }
    },
    data () {
      return {
        weather: {
          coord: {
            lon: 0,
            lat: 0
          },
          weather: [],
          base: '',
          main: {},
          visibility: 0,
          wind: {},
          clouds: {},
          dt: {},
          sys: {},
          timezone: 0,
          id: 0,
          name: '',
          cod: 0
        },
        forecast: {
          cod: '',
          message: 0,
          cnt: 0,
          list: [],
          city: {}
        }
      }
    },
    components: {},
    mounted () {
      this.getWeather()
      this.getWeatherForescat()
    },
    methods: {
      getWeather () {
        return axios({
          method: 'GET',
          url: `${process.env.API}weather`,
          params: {
            q: `${this.city}`,
            appid: `${process.env.API_KEY}`
          }
        })
          .then(response => response.data)
          .then(weather => {
            this.weather = weather
          })
      },
      getWeatherForescat () {
        return axios({
          method: 'GET',
          url: `${process.env.API}forecast`,
          params: {
            q: `${this.city}`,
            appid: `${process.env.API_KEY}`
          }
        })
          .then(response => response.data)
          .then(weather => {
            this.forecast = weather
          })
      }
    }
  }
</script>

<style scoped>

</style>
