<template>
  <div id="continents">
      <section class="hero is-medium is-primary bg-img">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              America del Sur
            </h1>
            <h2 class="subtitle">
              Paraiso
            </h2>
            <co-cities v-bind:cities="america"/>
            <section class="section"/>
            <!--            <a class="button is-info is-focused">Ir a la ciudad</a>-->
          </div>
        </div>
      </section>

      <section class="section"/>

      <section class="hero is-medium is-primary bg-img-3">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Europa
            </h1>
            <h2 class="subtitle">
              Paraiso
            </h2>
            <co-cities v-bind:cities="europa"/>
          </div>
        </div>
      </section>

      <section class="section"/>

      <section class="hero is-medium is-primary bg-img-2">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Asia
            </h1>
            <h2 class="subtitle">
              Paraiso
            </h2>
            <co-cities v-bind:cities="asia"/>
          </div>
        </div>
      </section>

      <section class="section"/>

  </div>
</template>

<script>
  import americaMocks from '@/mocks/america_cities'
  import europaMocks from '@/mocks/europa_cities'
  import asiaMocks from '@/mocks/asia_cities'
  import CoCities from '@/components/CoCities'

  export default {
    name: 'CoContinents',
    components: {
      CoCities
    },
    data () {
      return {
        america: americaMocks,
        europa: europaMocks,
        asia: asiaMocks
      }
    }
  }
</script>

<style>
  /*@import "./../node_modules/bulma/css/bulma.css";*/
  @import "./../assets/css/bulmaswatch.min.css";
  @import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";

  body {
    margin: 0;
  }

  main {
    text-align: center;
    margin-top: 40px;
  }

  header {
    margin: 0;
    height: 56px;
    padding: 0 16px 0 24px;
    background-color: #35495E;
    color: #ffffff;
  }

  header span {
    display: block;
    position: relative;
    font-size: 20px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    box-sizing: border-box;
    padding-top: 16px;
  }

  .bg-img {
    background-image: url(./../assets/images/sudamericaCiudades_Filtro.png);
    object-fit: cover;
    object-position: center center;
    /*background-size: 100%;*/
    /*width: 100%;*/
    /*height: 100%;*/
  }

  .bg-img-2 {
    background-image: url(./../assets/images/europaCiudades_Filtro.png);
    object-fit: cover;
    object-position: center center;
    /*background-size: 100%;*/
    /*width: 100%;*/
    /*height: 100%;*/
  }

  .bg-img-3 {
    background-image: url(./../assets/images/asiaCiudades_Filtro.png);
    object-fit: cover;
    object-position: center center;
    /*background-size: 100%;*/
    /*width: 100%;*/
    /*height: 100%;*/
  }

  .section {
    padding: 1.3rem 1.5rem;
  }

</style>
