<template>
  <!--  <div class="hero-head">-->
  <!--    <nav class="navbar">-->
  <div class="container">
    <div class="navbar-brand">
      <div class="tabs is-toggle">
        <ul>
          <li class="is-active">
            <router-link v-bind:to="{ name: 'weather', params: { weather: city } }">
              <a>
                <span class="icon is-small"><i class="fas fa-cloud" aria-hidden="true"></i></span>
                <span>Weather</span>
              </a>
            </router-link>
          </li>
          <li class="is-active">
            <router-link v-bind:to="{ name: 'events', params: { events: city } }">
              <a>
                <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
                <span>Music</span>
              </a>
            </router-link>
          </li>
        </ul>
      </div>
    </div>

    <section class="section"/>
    <router-view></router-view>
  </div>
  <!--    </nav>-->
  <!--  </div>-->
</template>

<script>
  import CoCityWeather from '@/components/CoCityWeather'

  export default {
    name: 'CoSubMenu',
    props: {
      city: {
        type: String
      }
    },
    data () {
      return {
        weather: [],
        music: []
      }
    },
    components: {
      CoCityWeather
    }
  }
</script>

<style scoped>

</style>
