<template>
  <div id="menu">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <router-link v-bind:to="{ name: 'menu' }">
              <a class="navbar-item">
<!--                <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">-->
                <img src="./../static/img/icons/home.png" alt="Logo">
<!--                <div class="ss"/>-->
                &nbsp;
                &nbsp;
                <p>
                  <a href="./../static/img/icons/home.png" class="has-text-white">HOME</a>
                </p>
              </a>
            </router-link>
            <span class="navbar-burger burger" data-target="navbarMenuHero1">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHero1" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active">
                Home
              </a>
              <a class="navbar-item">
                Examples
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <main>
      <router-view></router-view>
      <section class="section"/>
      <Hello></Hello>
    </main>
  </div>
</template>

<script>
  import CoContinents from '@/components/CoContinents'
  import Hello from '@/components/Hello'

  export default {
    name: 'App',
    components: {
      CoContinents,
      Hello
    },
    data () {
      return {}
    }
  }
</script>

<style>
  /*@import "./../node_modules/bulma/css/bulma.css";*/
  @import "./assets/css/bulmaswatch.min.css";
  @import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

  body {
    margin: 0;
  }

  main {
    text-align: center;
    margin-top: 40px;
  }

  header {
    margin: 0;
    height: 56px;
    padding: 0 16px 0 24px;
    background-color: #35495E;
    color: #ffffff;
  }

  header span {
    display: block;
    position: relative;
    font-size: 20px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    box-sizing: border-box;
    padding-top: 16px;
  }

  .bg-img {
    background-image: url(./assets/images/sudamericaCiudades_Filtro.png);
    object-fit: cover;
    object-position: center center;
    /*background-size: 100%;*/
    /*width: 100%;*/
    /*height: 100%;*/
  }

  .bg-img-2 {
    background-image: url(./assets/images/europaCiudades_Filtro.png);
    object-fit: cover;
    object-position: center center;
    /*background-size: 100%;*/
    /*width: 100%;*/
    /*height: 100%;*/
  }

  .bg-img-3 {
    background-image: url(./assets/images/asiaCiudades_Filtro.png);
    object-fit: cover;
    object-position: center center;
    /*background-size: 100%;*/
    /*width: 100%;*/
    /*height: 100%;*/
  }

  .section {
    padding: 1.3rem 1.5rem;
  }

</style>
